In [75]:
import pandas as pd
import numpy as np
import holidays
from sklearn.decomposition import PCA
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import r2_score, mean_squared_error, mean_squared_log_error

In [2]:
data = pd.read_csv('BikeSharing_Bluebikes2022.csv', index_col=0)

/home/georgep/anaconda3/envs/MachineLearning/lib/python3.8/site-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,postal code
0,597,2022-01-01 00:00:25.1660,2022-01-01 00:10:22.1920,178,MIT Pacific St at Purrington St,42.359573,-71.101295,74,Harvard Square at Mass Ave/ Dunster,42.373268,-71.118579,4923,Subscriber,02139
1,411,2022-01-01 00:00:40.4300,2022-01-01 00:07:32.1980,189,Kendall T,42.362428,-71.084955,178,MIT Pacific St at Purrington St,42.359573,-71.101295,3112,Subscriber,02139
2,476,2022-01-01 00:00:54.8180,2022-01-01 00:08:51.6680,94,Main St at Austin St,42.375603,-71.064608,356,Charlestown Navy Yard,42.374125,-71.054812,6901,Customer,02124
3,466,2022-01-01 00:01:01.6080,2022-01-01 00:08:48.2350,94,Main St at Austin St,42.375603,-71.064608,356,Charlestown Navy Yard,42.374125,-71.054812,5214,Customer,02124
4,752,2022-01-01 00:01:06.0520,2022-01-01 00:13:38.2300,19,Park Dr at Buswell St,42.347241,-71.105301,41,Packard's Corner - Commonwealth Ave at Brighto...,42.352261,-71.123831,2214,Subscriber,02215

In [4]:
#transforming the dates from object to datetime
for date_column in ['starttime','stoptime']:
    data[date_column] = pd.to_datetime(data[date_column], format='%Y-%m-%d %H:%M:%S')

In [5]:
def DatetimeInterval(df,freq):
    df1 = df.set_index('starttime')
    df1 = pd.get_dummies(df1, columns=['usertype'])
    df1 = df1.resample(rule=freq, label='left', origin='start_day').sum()
    pickups = df1.loc[:,['usertype_Customer','usertype_Subscriber']]
    pickups['pickups'] = pickups.loc[:,['usertype_Customer','usertype_Subscriber']].sum(axis=1)
    #pickups = pickups['tripduration'].groupby(pd.Grouper(freq=freq, label='left', origin='start_day')).count()    
    pickups = pd.DataFrame(pickups)
    #pickups.rename(columns={'tripduration':'pickups'}, inplace=True)
    
    return pickups

In [6]:
df15 = DatetimeInterval(data, freq='15Min')
df30 = DatetimeInterval(data, freq='30Min')
df60 = DatetimeInterval(data, freq='60Min')
df120 = DatetimeInterval(data, freq='120Min')

### Weather Data

In [7]:
weather_data = pd.read_csv('Data/WeatherData', index_col=0)

In [8]:
weather_data.head()

,name,datetime,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,...,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon,stations
0,Boston,2022-01-01T00:00:00,7.8,7.8,6.7,92.50,0.0,0,NaN,0.0,...,1014.5,100.0,8.0,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591..."
1,Boston,2022-01-01T01:00:00,7.2,6.5,6.7,96.49,0.0,0,NaN,0.0,...,1014.1,100.0,5.1,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591..."
2,Boston,2022-01-01T02:00:00,7.2,6.0,6.7,96.49,0.0,0,NaN,0.0,...,1014.2,100.0,4.0,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591..."
3,Boston,2022-01-01T03:00:00,7.2,7.2,6.7,96.60,0.0,0,NaN,0.0,...,1014.1,100.0,1.0,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591..."
4,Boston,2022-01-01T04:00:00,6.8,5.4,6.7,99.79,0.0,0,NaN,0.0,...,1013.6,100.0,0.0,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591..."

In [9]:
weather_data['datetime'] = pd.to_datetime(weather_data['datetime'], format='%Y-%m-%dT%H:%M:%S')
weather_data.drop('name',axis=1, inplace=True)
weather_data.set_index('datetime', inplace=True)

In [10]:
weather_data.head()

,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,snowdepth,windgust,...,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon,stations
datetime,,,,,,,,,,,,,,,,,,,,,
2022-01-01 00:00:00,7.8,7.8,6.7,92.50,0.0,0,NaN,0.0,0.0,NaN,...,1014.5,100.0,8.0,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591..."
2022-01-01 01:00:00,7.2,6.5,6.7,96.49,0.0,0,NaN,0.0,0.0,NaN,...,1014.1,100.0,5.1,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591..."
2022-01-01 02:00:00,7.2,6.0,6.7,96.49,0.0,0,NaN,0.0,0.0,NaN,...,1014.2,100.0,4.0,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591..."
2022-01-01 03:00:00,7.2,7.2,6.7,96.60,0.0,0,NaN,0.0,0.0,NaN,...,1014.1,100.0,1.0,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591..."
2022-01-01 04:00:00,6.8,5.4,6.7,99.79,0.0,0,NaN,0.0,0.0,NaN,...,1013.6,100.0,0.0,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591..."

In [11]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5831 entries, 2022-01-01 00:00:00 to 2022-08-31 23:00:00
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   temp              5831 non-null   float64
 1   feelslike         5831 non-null   float64
 2   dew               5831 non-null   float64
 3   humidity          5831 non-null   float64
 4   precip            5831 non-null   float64
 5   precipprob        5831 non-null   int64
 6   preciptype        547 non-null    object
 7   snow              5831 non-null   float64
 8   snowdepth         5831 non-null   float64
 9   windgust          5675 non-null   float64
 10  windspeed         5831 non-null   float64
 11  winddir           5831 non-null   float64
 12  sealevelpressure  5831 non-null   float64
 13  cloudcover        5831 non-null   float64
 14  visibility        5831 non-null   float64
 15  solarradiation    5691 non-null   float64
 16  solarenergy       3284 non-null   float64
 17  uvindex           5691 non-null   float64
 18  severerisk        5601 non-null   float64
 19  conditions        5831 non-null   object
 20  icon              5831 non-null   object
 21  stations          5831 non-null   object
dtypes: float64(17), int64(1), object(4)
memory usage: 1.0+ MB

In [12]:
weather_data.isna().sum()

temp                   0
feelslike              0
dew                    0
humidity               0
precip                 0
precipprob             0
preciptype          5284
snow                   0
snowdepth              0
windgust             156
windspeed              0
winddir                0
sealevelpressure       0
cloudcover             0
visibility             0
solarradiation       140
solarenergy         2547
uvindex              140
severerisk           230
conditions             0
icon                   0
stations               0
dtype: int64

In [13]:
weather_data.head()

,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,snowdepth,windgust,...,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon,stations
datetime,,,,,,,,,,,,,,,,,,,,,
2022-01-01 00:00:00,7.8,7.8,6.7,92.50,0.0,0,NaN,0.0,0.0,NaN,...,1014.5,100.0,8.0,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591..."
2022-01-01 01:00:00,7.2,6.5,6.7,96.49,0.0,0,NaN,0.0,0.0,NaN,...,1014.1,100.0,5.1,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591..."
2022-01-01 02:00:00,7.2,6.0,6.7,96.49,0.0,0,NaN,0.0,0.0,NaN,...,1014.2,100.0,4.0,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591..."
2022-01-01 03:00:00,7.2,7.2,6.7,96.60,0.0,0,NaN,0.0,0.0,NaN,...,1014.1,100.0,1.0,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591..."
2022-01-01 04:00:00,6.8,5.4,6.7,99.79,0.0,0,NaN,0.0,0.0,NaN,...,1013.6,100.0,0.0,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591..."

temp

In [14]:
weather_data['temp'].describe()

count    5831.000000
mean       12.352478
std        11.056270
min       -15.600000
25%         4.300000
50%        12.900000
75%        21.600000
max        37.200000
Name: temp, dtype: float64

feelslike

In [15]:
weather_data['feelslike'].describe()

count    5831.000000
mean       10.596210
std        13.410548
min       -26.500000
25%         0.800000
50%        12.900000
75%        21.600000
max        39.500000
Name: feelslike, dtype: float64

Humidity

In [16]:
weather_data['humidity'].describe()

count    5831.000000
mean       62.503353
std        20.229678
min        15.130000
25%        46.120000
50%        61.270000
75%        79.645000
max        99.940000
Name: humidity, dtype: float64

precip

In [17]:
weather_data['precip'].describe()

count    5831.000000
mean        0.077047
std         0.451573
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max        10.546000
Name: precip, dtype: float64

In [18]:
weather_data[weather_data['precip']>0]['conditions'].unique()

array(['Rain, Overcast', 'Snow, Rain, Overcast', 'Snow, Overcast',
       'Rain, Partially cloudy', 'Snow, Ice, Overcast',
       'Snow, Partially cloudy'], dtype=object)

snow

In [19]:
weather_data['snow'].describe()

count    5831.000000
mean        0.019317
std         0.142421
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         6.600000
Name: snow, dtype: float64

In [20]:
weather_data[weather_data['snow']>2]['conditions'].unique()

array(['Partially cloudy'], dtype=object)

Preciptype

In [21]:
weather_data['preciptype'].nunique()

5

In [22]:
weather_data['preciptype'].unique()

array([nan, 'rain', 'rain,snow', 'snow', 'freezingrain', 'snow,ice'],
      dtype=object)

In [23]:
weather_data[weather_data['preciptype']=='snow'][['snow','snowdepth']]

                     snow  snowdepth
datetime
2022-01-07 05:00:00  1.04      21.88
2022-01-24 00:00:00  0.00       0.10
2022-01-25 00:00:00  0.13       2.00
2022-01-25 01:00:00  0.13       2.13
2022-01-29 02:00:00  0.42       7.50
...                   ...        ...
2022-03-03 03:00:00  0.70      13.42
2022-03-03 04:00:00  1.10      13.33
2022-03-03 05:00:00  0.40      13.25
2022-03-12 20:00:00  1.30       1.70
2022-03-28 08:00:00  0.00       0.00

[73 rows x 2 columns]

In [24]:
def PreciptypeMap(row):
    if row == 'rain':
        return 2
    elif row == 'rain,snow':
        return 3
    elif row == 'snow':
        return 4
    elif row in ['freezingrain','snow,ice']:
        return 5
    else:
        return 0

In [25]:
weather_data['enc_preciptype'] = weather_data['preciptype'].map(lambda row: PreciptypeMap(row))

In [26]:
weather_data.head()

,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,snowdepth,windgust,...,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon,stations,enc_preciptype
datetime,,,,,,,,,,,,,,,,,,,,,
2022-01-01 00:00:00,7.8,7.8,6.7,92.50,0.0,0,NaN,0.0,0.0,NaN,...,100.0,8.0,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591...",0
2022-01-01 01:00:00,7.2,6.5,6.7,96.49,0.0,0,NaN,0.0,0.0,NaN,...,100.0,5.1,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591...",0
2022-01-01 02:00:00,7.2,6.0,6.7,96.49,0.0,0,NaN,0.0,0.0,NaN,...,100.0,4.0,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591...",0
2022-01-01 03:00:00,7.2,7.2,6.7,96.60,0.0,0,NaN,0.0,0.0,NaN,...,100.0,1.0,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591...",0
2022-01-01 04:00:00,6.8,5.4,6.7,99.79,0.0,0,NaN,0.0,0.0,NaN,...,100.0,0.0,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591...",0

Conditions

In [27]:
weather_data['conditions'].unique()

array(['Overcast', 'Rain, Overcast', 'Partially cloudy', 'Clear',
       'Snow, Rain, Overcast', 'Snow, Overcast', 'Rain, Partially cloudy',
       'Snow, Ice, Overcast', 'Snow, Partially cloudy'], dtype=object)

In [28]:
def ConditionsMap(row):
    if row in ['Overcast','Partially cloudy','Clear']:
        return 1
    elif row in ['Rain, Overcast','Rain, Partially cloudy','Snow, Partially cloudy']:
        return 2
    elif row in ['Snow, Rain, Overcast','Snow, Overcast','Snow, Ice, Overcast']:
        return 3

In [29]:
weather_data['enc_conditions'] = weather_data['conditions'].map(lambda row: ConditionsMap(row))

In [30]:
weather_data.head()

,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,snowdepth,windgust,...,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon,stations,enc_preciptype,enc_conditions
datetime,,,,,,,,,,,,,,,,,,,,,
2022-01-01 00:00:00,7.8,7.8,6.7,92.50,0.0,0,NaN,0.0,0.0,NaN,...,8.0,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591...",0,1
2022-01-01 01:00:00,7.2,6.5,6.7,96.49,0.0,0,NaN,0.0,0.0,NaN,...,5.1,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591...",0,1
2022-01-01 02:00:00,7.2,6.0,6.7,96.49,0.0,0,NaN,0.0,0.0,NaN,...,4.0,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591...",0,1
2022-01-01 03:00:00,7.2,7.2,6.7,96.60,0.0,0,NaN,0.0,0.0,NaN,...,1.0,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591...",0,1
2022-01-01 04:00:00,6.8,5.4,6.7,99.79,0.0,0,NaN,0.0,0.0,NaN,...,0.0,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591...",0,1

Severerisk

In [31]:
weather_data['severerisk'].unique()

array([nan, 10.,  3.,  5., 30., 15.,  8., 60., 75.])

In [32]:
weather_data['severerisk'].fillna(weather_data['severerisk'].median(), inplace=True)

solar radiation

In [33]:
weather_data['solarradiation'].unique()

array([      nan, 1.100e+01, 2.400e+01, 2.100e+01, 2.600e+01, 2.700e+01,
       4.500e+01, 3.200e+01, 1.200e+01, 7.000e+00, 2.500e+01, 3.600e+01,
       7.000e+01, 8.200e+01, 4.300e+01, 5.000e+01, 3.000e+01, 9.000e+00,
       5.200e+01, 6.400e+01, 7.400e+01, 6.800e+01, 4.000e+01, 3.900e+01,
       1.800e+01, 2.300e+01, 1.540e+02, 2.750e+02, 3.530e+02, 3.800e+02,
       3.660e+02, 3.010e+02, 2.360e+02, 1.600e+01, 5.000e+00, 3.700e+01,
       1.050e+02, 1.110e+02, 7.500e+01, 5.600e+01, 7.200e+01, 4.400e+01,
       1.500e+01, 2.580e+02, 3.190e+02, 2.220e+02, 1.970e+02, 1.990e+02,
       1.270e+02, 2.000e+01, 1.000e+01, 3.500e+01, 5.300e+01, 1.450e+02,
       9.800e+01, 6.700e+01, 1.350e+02, 2.820e+02, 3.630e+02, 3.950e+02,
       3.810e+02, 2.720e+02, 1.860e+02, 1.700e+01, 2.900e+01, 5.700e+01,
       1.920e+02, 1.520e+02, 9.200e+01, 1.340e+02, 2.860e+02, 3.960e+02,
       4.010e+02, 3.990e+02, 3.150e+02, 1.480e+02, 3.300e+01, 0.000e+00,
       1.330e+02, 3.170e+02, 3.670e+02, 3.790e+02, 3.280e+02, 2.130e+02,
       8.000e+00, 1.370e+02, 2.140e+02, 3.180e+02, 3.260e+02, 3.680e+02,
       2.350e+02, 1.410e+02, 4.700e+01, 8.400e+01, 2.380e+02, 2.870e+02,
       3.400e+02, 2.640e+02, 1.510e+02, 1.300e+01, 5.400e+01, 8.800e+01,
       1.150e+02, 1.060e+02, 9.300e+01, 1.670e+02, 2.920e+02, 3.730e+02,
       3.930e+02, 3.710e+02, 2.670e+02, 1.710e+02, 1.400e+01, 1.740e+02,
       2.990e+02, 3.700e+02, 4.100e+02, 3.850e+02, 2.490e+02, 8.600e+01,
       1.960e+02, 3.330e+02, 1.730e+02, 1.000e+00, 1.090e+02, 1.380e+02,
       3.620e+02, 4.280e+02, 4.140e+02, 2.800e+02, 2.260e+02, 9.100e+01,
       2.570e+02, 1.810e+02, 3.100e+01, 5.900e+01, 1.180e+02, 8.500e+01,
       1.200e+02, 1.720e+02, 2.160e+02, 3.910e+02, 3.070e+02, 3.450e+02,
       2.060e+02, 7.600e+01, 1.580e+02, 3.110e+02, 4.600e+02, 4.220e+02,
       3.250e+02, 2.430e+02, 1.500e+02, 4.070e+02, 3.940e+02, 3.800e+01,
       1.660e+02, 3.020e+02, 2.340e+02, 4.050e+02, 3.320e+02, 2.100e+02,
       6.500e+01, 2.020e+02, 2.390e+02, 1.700e+02, 1.780e+02, 8.100e+01,
       1.940e+02, 3.200e+02, 4.080e+02, 4.390e+02, 3.600e+02, 5.100e+01,
       1.950e+02, 4.170e+02, 4.590e+02, 3.870e+02, 2.180e+02, 2.200e+01,
       1.020e+02, 1.930e+02, 1.250e+02, 9.600e+01, 4.800e+01, 5.190e+02,
       4.820e+02, 4.970e+02, 2.270e+02, 2.410e+02, 4.600e+01, 3.060e+02,
       4.880e+02, 2.240e+02, 7.700e+01, 2.000e+00, 1.010e+02, 1.290e+02,
       1.280e+02, 1.210e+02, 5.800e+01, 4.100e+01, 1.430e+02, 1.680e+02,
       2.680e+02, 2.660e+02, 1.400e+02, 9.500e+01, 2.800e+01, 1.900e+01,
       3.400e+01, 3.510e+02, 4.260e+02, 4.640e+02, 4.860e+02, 2.030e+02,
       6.300e+01, 2.200e+02, 4.480e+02, 4.920e+02, 4.230e+02, 6.200e+01,
       1.590e+02, 1.120e+02, 6.000e+01, 8.700e+01, 2.510e+02, 3.770e+02,
       4.650e+02, 5.020e+02, 4.960e+02, 7.900e+01, 1.890e+02, 3.500e+02,
       4.950e+02, 1.140e+02, 9.400e+01, 3.720e+02, 4.710e+02, 5.010e+02,
       4.060e+02, 1.310e+02, 2.730e+02, 3.540e+02, 4.180e+02, 3.590e+02,
       1.600e+02, 2.910e+02, 4.770e+02, 5.150e+02, 1.130e+02, 2.790e+02,
       3.920e+02, 5.400e+02, 5.420e+02, 5.270e+02, 7.100e+01, 1.040e+02,
       2.550e+02, 4.610e+02, 5.590e+02, 4.800e+02, 1.550e+02, 2.620e+02,
       3.610e+02, 4.030e+02, 3.270e+02, 1.240e+02, 3.690e+02, 5.490e+02,
       5.300e+02, 4.840e+02, 2.950e+02, 4.420e+02, 5.350e+02, 5.410e+02,
       2.830e+02, 1.320e+02, 3.100e+02, 4.330e+02, 4.190e+02, 4.460e+02,
       3.860e+02, 2.450e+02, 2.940e+02, 4.350e+02, 5.500e+02, 5.130e+02,
       2.540e+02, 1.900e+02, 5.500e+01, 2.470e+02, 2.120e+02, 6.100e+01,
       1.880e+02, 3.360e+02, 1.080e+02, 1.000e+02, 5.630e+02, 6.060e+02,
       5.870e+02, 5.180e+02, 4.120e+02, 3.380e+02, 4.720e+02, 5.600e+02,
       6.050e+02, 5.890e+02, 3.760e+02, 4.890e+02, 5.800e+02, 6.190e+02,
       6.030e+02, 1.300e+02, 2.000e+02, 1.530e+02, 1.820e+02, 6.130e+02,
       5.980e+02, 5.340e+02, 2.700e+02, 2.210e+02, 4.270e+02, 3.310e+02,
       4.540e+02, 5.080e+02, 6.000e+02, 6.410e+02, 6.240e+02, 5.560e+02,
       4.440e+02, 4.900e+01, 5.230e+02, 3.130e+02, 1.170e+02, 1.440e+02,
       9.900e+01, 1.630e+02, 2.310e+02, 4.250e+02, 6.070e+02, 6.090e+02,
       6.430e+02, 5.730e+02, 2.840e+02, 8.000e+01, 1.070e+02, 1.650e+02,
       2.370e+02, 5.200e+02, 5.970e+02, 6.480e+02, 5.760e+02, 4.370e+02,
       3.830e+02, 4.790e+02, 5.690e+02, 6.760e+02, 5.240e+02, 4.160e+02,
       2.780e+02, 4.110e+02, 5.480e+02, 6.440e+02, 6.810e+02, 6.620e+02,
       4.680e+02, 6.330e+02, 6.730e+02, 6.590e+02, 5.850e+02, 9.000e+01,
       4.580e+02, 5.430e+02, 5.670e+02, 5.310e+02, 1.360e+02, 4.730e+02,
       5.140e+02, 4.690e+02, 2.460e+02, 1.420e+02, 1.390e+02, 1.840e+02,
       5.330e+02, 6.150e+02, 6.450e+02, 7.090e+02, 1.460e+02, 7.300e+01,
       4.200e+01, 3.340e+02, 4.340e+02, 7.070e+02, 1.690e+02, 2.770e+02,
       3.570e+02, 7.230e+02, 4.630e+02, 2.970e+02, 5.950e+02, 6.820e+02,
       7.200e+02, 6.840e+02, 6.270e+02, 4.940e+02, 2.980e+02, 4.560e+02,
       5.880e+02, 6.690e+02, 6.120e+02, 6.010e+02, 5.000e+02, 1.190e+02,
       1.030e+02, 4.780e+02, 4.500e+02, 4.620e+02, 4.530e+02, 4.900e+02,
       6.140e+02, 4.760e+02, 4.740e+02, 6.210e+02, 7.320e+02, 8.150e+02,
       2.600e+02, 1.570e+02, 5.040e+02, 6.220e+02, 7.110e+02, 6.500e+02,
       7.180e+02, 6.520e+02, 3.490e+02, 6.230e+02, 7.030e+02, 7.060e+02,
       6.850e+02, 3.300e+02, 1.560e+02, 2.280e+02, 2.440e+02, 2.290e+02,
       1.260e+02, 1.230e+02, 6.400e+02, 7.240e+02, 7.590e+02, 7.340e+02,
       3.550e+02, 5.050e+02, 7.540e+02, 6.710e+02, 3.970e+02, 3.080e+02,
       8.470e+02, 7.880e+02, 7.370e+02, 6.630e+02, 6.700e+02, 6.390e+02,
       7.360e+02, 3.480e+02, 3.390e+02, 6.570e+02, 5.550e+02, 6.900e+01,
       3.580e+02, 1.160e+02, 1.800e+02, 2.300e+02, 4.980e+02, 7.600e+02,
       6.860e+02, 1.100e+02, 3.880e+02, 5.440e+02, 7.530e+02, 7.830e+02,
       5.220e+02, 2.480e+02, 6.790e+02, 5.620e+02, 4.000e+00, 6.740e+02,
       4.090e+02, 2.930e+02, 1.790e+02, 6.750e+02, 7.740e+02, 8.060e+02,
       7.750e+02, 6.960e+02, 4.320e+02, 5.920e+02, 6.040e+02, 1.490e+02,
       1.620e+02, 1.470e+02, 3.650e+02, 7.130e+02, 7.870e+02, 7.760e+02,
       6.560e+02, 2.530e+02, 6.280e+02, 2.520e+02, 8.770e+02, 8.140e+02,
       7.700e+02, 5.390e+02, 3.750e+02, 4.570e+02, 8.260e+02, 6.000e+00,
       4.490e+02, 8.070e+02, 8.860e+02, 8.290e+02, 7.990e+02, 3.840e+02,
       1.980e+02, 4.910e+02, 7.430e+02, 8.010e+02, 8.030e+02, 3.000e+00,
       4.550e+02, 1.850e+02, 6.260e+02, 4.520e+02, 4.450e+02, 3.220e+02,
       5.770e+02, 8.170e+02, 3.740e+02, 3.430e+02, 2.880e+02, 5.100e+02,
       7.980e+02, 8.610e+02, 4.850e+02, 3.140e+02, 6.580e+02, 7.630e+02,
       8.620e+02, 5.470e+02, 5.570e+02, 2.080e+02, 6.550e+02, 8.210e+02,
       8.350e+02, 7.950e+02, 7.080e+02, 5.710e+02, 1.830e+02, 8.190e+02,
       4.430e+02, 2.630e+02, 1.610e+02, 3.050e+02, 5.120e+02, 5.110e+02,
       1.870e+02, 3.370e+02, 6.300e+02, 4.990e+02, 3.520e+02, 2.150e+02,
       3.900e+02, 3.160e+02, 5.360e+02, 2.610e+02, 2.760e+02, 3.040e+02,
       9.700e+01, 3.640e+02, 5.540e+02, 6.420e+02, 5.780e+02, 5.070e+02,
       2.040e+02, 4.810e+02, 4.300e+02, 3.030e+02, 1.910e+02, 2.400e+02,
       2.890e+02, 2.230e+02, 4.670e+02, 2.110e+02, 2.330e+02, 5.160e+02,
       5.660e+02, 2.810e+02, 5.810e+02, 2.690e+02, 5.380e+02, 5.060e+02,
       2.650e+02, 4.150e+02, 5.520e+02, 5.640e+02, 4.510e+02, 4.930e+02,
       5.700e+02, 4.750e+02, 1.640e+02, 4.470e+02, 2.850e+02, 2.500e+02,
       5.840e+02, 5.370e+02, 2.170e+02, 5.580e+02, 5.940e+02, 4.830e+02,
       2.710e+02, 5.790e+02, 3.980e+02, 5.280e+02, 3.410e+02, 6.020e+02,
       1.760e+02, 4.040e+02, 5.610e+02, 3.780e+02, 5.210e+02, 4.130e+02,
       2.740e+02, 8.900e+01, 2.090e+02, 6.170e+02, 7.210e+02, 5.990e+02,
       5.290e+02, 7.520e+02, 3.230e+02, 4.410e+02, 6.310e+02, 5.910e+02,
       5.250e+02, 3.120e+02, 7.800e+01, 6.110e+02, 7.470e+02, 1.750e+02,
       2.010e+02, 2.250e+02, 5.510e+02, 9.740e+02, 7.330e+02, 9.410e+02,
       9.880e+02, 1.006e+03, 9.370e+02, 6.380e+02, 5.260e+02, 2.900e+02,
       2.590e+02, 3.560e+02, 1.220e+02, 6.490e+02, 3.290e+02, 5.680e+02,
       6.350e+02, 5.750e+02, 6.770e+02, 7.890e+02, 8.460e+02, 8.300e+01,
       7.020e+02, 6.080e+02, 5.320e+02, 6.180e+02, 4.380e+02, 3.210e+02,
       6.340e+02, 6.510e+02, 3.350e+02, 5.830e+02, 5.930e+02, 3.420e+02,
       9.010e+02, 9.040e+02, 9.320e+02, 7.000e+02, 4.400e+02, 1.770e+02,
       5.860e+02, 6.600e+01, 3.440e+02, 2.960e+02, 6.540e+02, 4.210e+02,
       2.070e+02, 5.720e+02, 6.360e+02, 5.820e+02, 7.100e+02, 5.450e+02,
       6.160e+02, 4.020e+02, 6.680e+02, 5.900e+02, 6.940e+02, 4.360e+02,
       4.700e+02, 3.090e+02, 6.530e+02, 4.000e+02])

In [34]:
weather_data['solarradiation'].min()

0.0

In [35]:
#weather_data[weather_data['solarradiation'].isna()==True]
weather_data[weather_data['solarradiation']==0.0]['severerisk'].unique()

array([10.,  3.,  5., 15., 30., 60.,  8.])

In [36]:
weather_data[weather_data['solarradiation']==0.0]['enc_conditions'].unique()

array([1, 2, 3])

In [37]:
weather_data[weather_data['solarradiation'].isna()==True]['severerisk'].unique()

array([10.])

In [38]:
sorted(weather_data[weather_data['solarradiation'].isna()==True].index)

[Timestamp('2022-01-01 00:00:00'),
 Timestamp('2022-01-01 01:00:00'),
 Timestamp('2022-01-01 02:00:00'),
 Timestamp('2022-01-01 03:00:00'),
 Timestamp('2022-01-01 04:00:00'),
 Timestamp('2022-01-01 05:00:00'),
 Timestamp('2022-01-01 06:00:00'),
 Timestamp('2022-01-01 07:00:00'),
 Timestamp('2022-01-01 17:00:00'),
 Timestamp('2022-01-01 18:00:00'),
 Timestamp('2022-01-01 19:00:00'),
 Timestamp('2022-01-01 20:00:00'),
 Timestamp('2022-01-01 21:00:00'),
 Timestamp('2022-01-01 22:00:00'),
 Timestamp('2022-01-01 23:00:00'),
 Timestamp('2022-01-02 00:00:00'),
 Timestamp('2022-01-02 01:00:00'),
 Timestamp('2022-01-02 02:00:00'),
 Timestamp('2022-01-02 03:00:00'),
 Timestamp('2022-01-02 04:00:00'),
 Timestamp('2022-01-02 05:00:00'),
 Timestamp('2022-01-02 06:00:00'),
 Timestamp('2022-01-02 07:00:00'),
 Timestamp('2022-01-02 17:00:00'),
 Timestamp('2022-01-02 18:00:00'),
 Timestamp('2022-01-02 19:00:00'),
 Timestamp('2022-01-02 20:00:00'),
 Timestamp('2022-01-02 21:00:00'),
 Timestamp('2022-01-02 22:00:00'),
 Timestamp('2022-01-02 23:00:00'),
 Timestamp('2022-01-03 00:00:00'),
 Timestamp('2022-01-03 01:00:00'),
 Timestamp('2022-01-03 02:00:00'),
 Timestamp('2022-01-03 03:00:00'),
 Timestamp('2022-01-03 04:00:00'),
 Timestamp('2022-01-03 05:00:00'),
 Timestamp('2022-01-03 06:00:00'),
 Timestamp('2022-01-03 07:00:00'),
 Timestamp('2022-01-03 17:00:00'),
 Timestamp('2022-01-03 18:00:00'),
 Timestamp('2022-01-03 19:00:00'),
 Timestamp('2022-01-03 20:00:00'),
 Timestamp('2022-01-03 21:00:00'),
 Timestamp('2022-01-03 22:00:00'),
 Timestamp('2022-01-03 23:00:00'),
 Timestamp('2022-01-04 00:00:00'),
 Timestamp('2022-01-04 01:00:00'),
 Timestamp('2022-01-04 02:00:00'),
 Timestamp('2022-01-04 03:00:00'),
 Timestamp('2022-01-04 04:00:00'),
 Timestamp('2022-01-04 05:00:00'),
 Timestamp('2022-01-04 06:00:00'),
 Timestamp('2022-01-04 07:00:00'),
 Timestamp('2022-01-04 18:00:00'),
 Timestamp('2022-01-04 19:00:00'),
 Timestamp('2022-01-04 20:00:00'),
 Timestamp('2022-01-04 21:00:00'),
 Timestamp('2022-01-04 22:00:00'),
 Timestamp('2022-01-04 23:00:00'),
 Timestamp('2022-01-05 00:00:00'),
 Timestamp('2022-01-05 01:00:00'),
 Timestamp('2022-01-05 02:00:00'),
 Timestamp('2022-01-05 03:00:00'),
 Timestamp('2022-01-05 04:00:00'),
 Timestamp('2022-01-05 05:00:00'),
 Timestamp('2022-01-05 06:00:00'),
 Timestamp('2022-01-05 07:00:00'),
 Timestamp('2022-01-05 17:00:00'),
 Timestamp('2022-01-05 18:00:00'),
 Timestamp('2022-01-05 19:00:00'),
 Timestamp('2022-01-05 20:00:00'),
 Timestamp('2022-01-05 21:00:00'),
 Timestamp('2022-01-05 22:00:00'),
 Timestamp('2022-01-05 23:00:00'),
 Timestamp('2022-01-06 00:00:00'),
 Timestamp('2022-01-06 01:00:00'),
 Timestamp('2022-01-06 02:00:00'),
 Timestamp('2022-01-06 03:00:00'),
 Timestamp('2022-01-06 04:00:00'),
 Timestamp('2022-01-06 05:00:00'),
 Timestamp('2022-01-06 06:00:00'),
 Timestamp('2022-01-06 07:00:00'),
 Timestamp('2022-01-06 18:00:00'),
 Timestamp('2022-01-06 19:00:00'),
 Timestamp('2022-01-06 20:00:00'),
 Timestamp('2022-01-06 21:00:00'),
 Timestamp('2022-01-06 22:00:00'),
 Timestamp('2022-01-06 23:00:00'),
 Timestamp('2022-01-07 00:00:00'),
 Timestamp('2022-01-07 01:00:00'),
 Timestamp('2022-01-07 02:00:00'),
 Timestamp('2022-01-07 03:00:00'),
 Timestamp('2022-01-07 04:00:00'),
 Timestamp('2022-01-07 05:00:00'),
 Timestamp('2022-01-07 06:00:00'),
 Timestamp('2022-01-07 07:00:00'),
 Timestamp('2022-01-07 08:00:00'),
 Timestamp('2022-01-07 18:00:00'),
 Timestamp('2022-01-07 19:00:00'),
 Timestamp('2022-01-07 20:00:00'),
 Timestamp('2022-01-07 21:00:00'),
 Timestamp('2022-01-07 22:00:00'),
 Timestamp('2022-01-07 23:00:00'),
 Timestamp('2022-01-08 00:00:00'),
 Timestamp('2022-01-08 01:00:00'),
 Timestamp('2022-01-08 02:00:00'),
 Timestamp('2022-01-08 03:00:00'),
 Timestamp('2022-01-08 04:00:00'),
 Timestamp('2022-01-08 05:00:00'),
 Timestamp('2022-01-08 06:00:00'),
 Timestamp('2022-01-08 07:00:00'),
 Timestamp('2022-01-08 18:00:00'),
 Timestamp('2022-01-08 19:00:00'),
 Timestamp('2022-01-08 20:00:00'),
 Timestamp('2022-01-08 21:00:00'),
 Timestamp('2022-01-08 22:00:00'),
 Timestamp('2022-01-08 23:00:00'),
 Timestamp('2022-01-09 00:00:00'),
 Timestamp('2022-01-09 01:00:00'),
 Timestamp('2022-01-09 02:00:00'),
 Timestamp('2022-01-09 03:00:00'),
 Timestamp('2022-01-09 04:00:00'),
 Timestamp('2022-01-09 05:00:00'),
 Timestamp('2022-01-09 06:00:00'),
 Timestamp('2022-01-09 07:00:00'),
 Timestamp('2022-01-09 17:00:00'),
 Timestamp('2022-01-09 18:00:00'),
 Timestamp('2022-01-09 19:00:00'),
 Timestamp('2022-01-09 20:00:00'),
 Timestamp('2022-01-09 21:00:00'),
 Timestamp('2022-01-09 22:00:00'),
 Timestamp('2022-01-09 23:00:00'),
 Timestamp('2022-01-10 00:00:00'),
 Timestamp('2022-01-10 01:00:00'),
 Timestamp('2022-01-10 02:00:00'),
 Timestamp('2022-01-10 03:00:00'),
 Timestamp('2022-01-10 04:00:00'),
 Timestamp('2022-01-10 05:00:00'),
 Timestamp('2022-01-10 06:00:00'),
 Timestamp('2022-01-10 07:00:00')]

In [39]:
weather_data['solarradiation'].fillna(0.0, inplace=True)

UVindex

In [40]:
weather_data['uvindex'].unique()

array([nan,  0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [41]:
sorted(weather_data[weather_data['uvindex'].isna()==True].index)

[Timestamp('2022-01-01 00:00:00'),
 Timestamp('2022-01-01 01:00:00'),
 Timestamp('2022-01-01 02:00:00'),
 Timestamp('2022-01-01 03:00:00'),
 Timestamp('2022-01-01 04:00:00'),
 Timestamp('2022-01-01 05:00:00'),
 Timestamp('2022-01-01 06:00:00'),
 Timestamp('2022-01-01 07:00:00'),
 Timestamp('2022-01-01 17:00:00'),
 Timestamp('2022-01-01 18:00:00'),
 Timestamp('2022-01-01 19:00:00'),
 Timestamp('2022-01-01 20:00:00'),
 Timestamp('2022-01-01 21:00:00'),
 Timestamp('2022-01-01 22:00:00'),
 Timestamp('2022-01-01 23:00:00'),
 Timestamp('2022-01-02 00:00:00'),
 Timestamp('2022-01-02 01:00:00'),
 Timestamp('2022-01-02 02:00:00'),
 Timestamp('2022-01-02 03:00:00'),
 Timestamp('2022-01-02 04:00:00'),
 Timestamp('2022-01-02 05:00:00'),
 Timestamp('2022-01-02 06:00:00'),
 Timestamp('2022-01-02 07:00:00'),
 Timestamp('2022-01-02 17:00:00'),
 Timestamp('2022-01-02 18:00:00'),
 Timestamp('2022-01-02 19:00:00'),
 Timestamp('2022-01-02 20:00:00'),
 Timestamp('2022-01-02 21:00:00'),
 Timestamp('2022-01-02 22:00:00'),
 Timestamp('2022-01-02 23:00:00'),
 Timestamp('2022-01-03 00:00:00'),
 Timestamp('2022-01-03 01:00:00'),
 Timestamp('2022-01-03 02:00:00'),
 Timestamp('2022-01-03 03:00:00'),
 Timestamp('2022-01-03 04:00:00'),
 Timestamp('2022-01-03 05:00:00'),
 Timestamp('2022-01-03 06:00:00'),
 Timestamp('2022-01-03 07:00:00'),
 Timestamp('2022-01-03 17:00:00'),
 Timestamp('2022-01-03 18:00:00'),
 Timestamp('2022-01-03 19:00:00'),
 Timestamp('2022-01-03 20:00:00'),
 Timestamp('2022-01-03 21:00:00'),
 Timestamp('2022-01-03 22:00:00'),
 Timestamp('2022-01-03 23:00:00'),
 Timestamp('2022-01-04 00:00:00'),
 Timestamp('2022-01-04 01:00:00'),
 Timestamp('2022-01-04 02:00:00'),
 Timestamp('2022-01-04 03:00:00'),
 Timestamp('2022-01-04 04:00:00'),
 Timestamp('2022-01-04 05:00:00'),
 Timestamp('2022-01-04 06:00:00'),
 Timestamp('2022-01-04 07:00:00'),
 Timestamp('2022-01-04 18:00:00'),
 Timestamp('2022-01-04 19:00:00'),
 Timestamp('2022-01-04 20:00:00'),
 Timestamp('2022-01-04 21:00:00'),
 Timestamp('2022-01-04 22:00:00'),
 Timestamp('2022-01-04 23:00:00'),
 Timestamp('2022-01-05 00:00:00'),
 Timestamp('2022-01-05 01:00:00'),
 Timestamp('2022-01-05 02:00:00'),
 Timestamp('2022-01-05 03:00:00'),
 Timestamp('2022-01-05 04:00:00'),
 Timestamp('2022-01-05 05:00:00'),
 Timestamp('2022-01-05 06:00:00'),
 Timestamp('2022-01-05 07:00:00'),
 Timestamp('2022-01-05 17:00:00'),
 Timestamp('2022-01-05 18:00:00'),
 Timestamp('2022-01-05 19:00:00'),
 Timestamp('2022-01-05 20:00:00'),
 Timestamp('2022-01-05 21:00:00'),
 Timestamp('2022-01-05 22:00:00'),
 Timestamp('2022-01-05 23:00:00'),
 Timestamp('2022-01-06 00:00:00'),
 Timestamp('2022-01-06 01:00:00'),
 Timestamp('2022-01-06 02:00:00'),
 Timestamp('2022-01-06 03:00:00'),
 Timestamp('2022-01-06 04:00:00'),
 Timestamp('2022-01-06 05:00:00'),
 Timestamp('2022-01-06 06:00:00'),
 Timestamp('2022-01-06 07:00:00'),
 Timestamp('2022-01-06 18:00:00'),
 Timestamp('2022-01-06 19:00:00'),
 Timestamp('2022-01-06 20:00:00'),
 Timestamp('2022-01-06 21:00:00'),
 Timestamp('2022-01-06 22:00:00'),
 Timestamp('2022-01-06 23:00:00'),
 Timestamp('2022-01-07 00:00:00'),
 Timestamp('2022-01-07 01:00:00'),
 Timestamp('2022-01-07 02:00:00'),
 Timestamp('2022-01-07 03:00:00'),
 Timestamp('2022-01-07 04:00:00'),
 Timestamp('2022-01-07 05:00:00'),
 Timestamp('2022-01-07 06:00:00'),
 Timestamp('2022-01-07 07:00:00'),
 Timestamp('2022-01-07 08:00:00'),
 Timestamp('2022-01-07 18:00:00'),
 Timestamp('2022-01-07 19:00:00'),
 Timestamp('2022-01-07 20:00:00'),
 Timestamp('2022-01-07 21:00:00'),
 Timestamp('2022-01-07 22:00:00'),
 Timestamp('2022-01-07 23:00:00'),
 Timestamp('2022-01-08 00:00:00'),
 Timestamp('2022-01-08 01:00:00'),
 Timestamp('2022-01-08 02:00:00'),
 Timestamp('2022-01-08 03:00:00'),
 Timestamp('2022-01-08 04:00:00'),
 Timestamp('2022-01-08 05:00:00'),
 Timestamp('2022-01-08 06:00:00'),
 Timestamp('2022-01-08 07:00:00'),
 Timestamp('2022-01-08 18:00:00'),
 Timestamp('2022-01-08 19:00:00'),
 Timestamp('2022-01-08 20:00:00'),
 Timestamp('2022-01-08 21:00:00'),
 Timestamp('2022-01-08 22:00:00'),
 Timestamp('2022-01-08 23:00:00'),
 Timestamp('2022-01-09 00:00:00'),
 Timestamp('2022-01-09 01:00:00'),
 Timestamp('2022-01-09 02:00:00'),
 Timestamp('2022-01-09 03:00:00'),
 Timestamp('2022-01-09 04:00:00'),
 Timestamp('2022-01-09 05:00:00'),
 Timestamp('2022-01-09 06:00:00'),
 Timestamp('2022-01-09 07:00:00'),
 Timestamp('2022-01-09 17:00:00'),
 Timestamp('2022-01-09 18:00:00'),
 Timestamp('2022-01-09 19:00:00'),
 Timestamp('2022-01-09 20:00:00'),
 Timestamp('2022-01-09 21:00:00'),
 Timestamp('2022-01-09 22:00:00'),
 Timestamp('2022-01-09 23:00:00'),
 Timestamp('2022-01-10 00:00:00'),
 Timestamp('2022-01-10 01:00:00'),
 Timestamp('2022-01-10 02:00:00'),
 Timestamp('2022-01-10 03:00:00'),
 Timestamp('2022-01-10 04:00:00'),
 Timestamp('2022-01-10 05:00:00'),
 Timestamp('2022-01-10 06:00:00'),
 Timestamp('2022-01-10 07:00:00')]

In [42]:
weather_data['uvindex'].fillna(0.0, inplace=True)

In [43]:
weather_data.drop(['dew','sealevelpressure','cloudcover','solarenergy','icon','windgust','winddir','solarradiation','precipprob','conditions','preciptype','stations'], axis=1, inplace=True)

In [44]:
weather_data.head()

,temp,feelslike,humidity,precip,snow,snowdepth,windspeed,visibility,uvindex,severerisk,enc_preciptype,enc_conditions
datetime,,,,,,,,,,,,
2022-01-01 00:00:00,7.8,7.8,92.50,0.0,0.0,0.0,0.1,8.0,0.0,10.0,0,1
2022-01-01 01:00:00,7.2,6.5,96.49,0.0,0.0,0.0,5.3,5.1,0.0,10.0,0,1
2022-01-01 02:00:00,7.2,6.0,96.49,0.0,0.0,0.0,7.3,4.0,0.0,10.0,0,1
2022-01-01 03:00:00,7.2,7.2,96.60,0.0,0.0,0.0,0.1,1.0,0.0,10.0,0,1
2022-01-01 04:00:00,6.8,5.4,99.79,0.0,0.0,0.0,7.4,0.0,0.0,10.0,0,1

In [45]:
weather_data15 = weather_data.resample('15Min').fillna(method='ffill')
weather_data30 = weather_data.resample('20Min').fillna(method='ffill')
weather_data60 = weather_data
weather_data120 = weather_data.resample('2H').mean()

# Connect Data

In [46]:
df15 = DatetimeInterval(data, freq='15Min')
df30 = DatetimeInterval(data, freq='30Min')
df60 = DatetimeInterval(data, freq='60Min')
df120 = DatetimeInterval(data, freq='120Min')

In [47]:
weather_data15 = weather_data.resample('15Min').fillna(method='ffill')
weather_data30 = weather_data.resample('30Min').fillna(method='ffill')
weather_data60 = weather_data
weather_data120 = weather_data.resample('2H').mean()

In [48]:
def MergingDataFrames(wd, df):
    pickups = pd.merge(wd, df, left_index=True, right_index=True)
    return pickups

In [49]:
picksup15 = MergingDataFrames(weather_data15, df15)
picksup30 = MergingDataFrames(weather_data30, df30)
picksup60 = MergingDataFrames(weather_data60, df60)
picksup120 = MergingDataFrames(weather_data120, df120)

In [50]:
picksup15.head()

,temp,feelslike,humidity,precip,snow,snowdepth,windspeed,visibility,uvindex,severerisk,enc_preciptype,enc_conditions,usertype_Customer,usertype_Subscriber,pickups
2022-01-01 00:00:00,7.8,7.8,92.50,0.0,0.0,0.0,0.1,8.0,0.0,10.0,0,1,7.0,23.0,30.0
2022-01-01 00:15:00,7.8,7.8,92.50,0.0,0.0,0.0,0.1,8.0,0.0,10.0,0,1,6.0,30.0,36.0
2022-01-01 00:30:00,7.8,7.8,92.50,0.0,0.0,0.0,0.1,8.0,0.0,10.0,0,1,7.0,22.0,29.0
2022-01-01 00:45:00,7.8,7.8,92.50,0.0,0.0,0.0,0.1,8.0,0.0,10.0,0,1,8.0,22.0,30.0
2022-01-01 01:00:00,7.2,6.5,96.49,0.0,0.0,0.0,5.3,5.1,0.0,10.0,0,1,5.0,16.0,21.0

Weekend/Weekday & Holidays & Month/Hour/Minute & Season

In [51]:
us_holidays = holidays.US()
season_month =  {1:'Winter', 2:'Winter',
                3:'Spring', 4:'Spring', 5:'Spring',
                6:'Summer', 7:'Summer', 8:'Summer'}

In [52]:
def DataPreprocess(pickup):
    pickup['workingday'] = pickup.index.map(lambda row: 1 if row.dayofweek < 5 else 0)
    pickup['holiday'] = pickup.index.map(lambda row: 1 if row in us_holidays else 0)
    pickup['month'] = pickup.index.month
    pickup['hour'] = pickup.index.hour
    pickup['minute'] = pickup.index.minute
    pickup.reset_index(drop=True, inplace=True)
    pickup['season'] = pickup['month'].map(season_month)
    
    return pickup

In [53]:
for pickup in [picksup15,picksup30, picksup60, picksup120]:
    pickup = DataPreprocess(pickup)
    pickups = pd.get_dummies(pickup, 'season')

In [54]:
picksup15 = pd.get_dummies(picksup15, 'season')
picksup30 = pd.get_dummies(picksup30, 'season')
picksup60 = pd.get_dummies(picksup60, 'season')
picksup120 = pd.get_dummies(picksup120, 'season')

In [55]:
picksup120.head()

,temp,feelslike,humidity,precip,snow,snowdepth,windspeed,visibility,uvindex,severerisk,...,usertype_Subscriber,pickups,workingday,holiday,month,hour,minute,season_Spring,season_Summer,season_Winter
0,7.50,7.15,94.495,0.0,0.0,0.0,2.7,6.55,0.0,10.0,...,158.0,217.0,0,1,1,0,0,0,0,1
1,7.20,6.60,96.545,0.0,0.0,0.0,3.7,2.50,0.0,10.0,...,82.0,168.0,0,1,1,2,0,0,0,1
2,6.80,5.20,99.820,0.0,0.0,0.0,8.2,0.00,0.0,10.0,...,104.0,215.0,0,1,1,4,0,0,0,1
3,7.05,5.80,99.680,0.0,0.0,0.0,7.1,0.10,0.0,10.0,...,94.0,283.0,0,1,1,6,0,0,0,1
4,7.90,6.30,99.790,0.0,0.0,0.0,9.2,0.05,0.0,10.0,...,18.0,56.0,0,1,1,8,0,0,0,1

## MODELLING

In [88]:
def rmse(y_pred, y_true):
    return np.sqrt(np.mean((y_pred - y_true)**2))

In [89]:
def mae(y_pred, y_true):
    return np.mean(np.abs(y_pred - y_true))

In [90]:
def mape(y_pred, y_true):
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [91]:
def r2(y_pred, y_true):
    return max(0, 1 - np.sum((y_true-y_pred)**2) / np.sum((y_true - np.mean(y_true))**2))

In [92]:
def adjustedr2(y_pred, y_true, nvariables):
    r_squared = max(0, 1 - np.sum((y_true-y_pred)**2) / np.sum((y_true - np.mean(y_true))**2))
    return 1 - (1-r_squared)*(len(y_true)-1)/(len(y_true)-nvariables-1)

In [62]:
def rmsle(y_true, y_pred, convertExp=True):
    if convertExp:
        y_true = np.exp(y_true)
        y_pred = np.exp(y_pred)
        
    log_true = np.nan_to_num(np.log(y_true+1))
    log_pred = np.nan_to_num(np.log(y_pred+1))
    
    output = np.sqrt(np.mean((log_true - log_pred)**2))
    
    return output

In [136]:
X_train = picksup60[(picksup60['month']!=8) & (picksup60['hour']<=9)].drop(['pickups','usertype_Subscriber','usertype_Customer','month','hour','minute'], axis=1)
y_train = picksup60[(picksup60['month']!=8) & (picksup60['hour']<=9)]['pickups']
X_test = picksup60[(picksup60['month']==8) & (picksup60['hour']==10)].drop(['pickups','usertype_Subscriber','usertype_Customer','month','hour','minute'], axis=1)
y_test = picksup60[(picksup60['month']==8) & (picksup60['hour']==10)]['pickups']

In [137]:
LRM = LinearRegression()
log_ytest, log_ytrain = np.log1p(y_test), np.log1p(y_train)  # Log Transformation of Target Value y
LRM.fit(X_train, log_ytrain) 

# Step 3 : Predict
preds = LRM.predict(X_test)

# Step 4 : Evaluate
print ('Linear Regression RMSLE:', rmsle(log_ytest, preds, True))

Linear Regression RMSLE: 2.7004937542056946

In [143]:
# Step 1: Create Model
RM = Ridge()

# Step 2-1 : Create GridSearchCV Object
# Hyper-parameter List
ridge_params = {'max_iter':[3000], 'alpha':[0.1, 1, 2, 3, 4, 10, 30, 100, 200, 300, 400, 800, 900, 1000]}
# Evaluate Function for Cross-Validation (RMSLE score)
rmsle_scorer = metrics.make_scorer(rmsle, greater_is_better=False) 
# Create GridSearchCV Object (with Ridge)
gridsearch_RM = GridSearchCV(estimator=RM,
                                      param_grid=ridge_params,
                                      scoring=rmsle_scorer,
                                      cv=5)

# Step 2-2 : Perform Grid Search
#log_y = np.log1p(y) # Log Transformation of Target Value y
gridsearch_RM.fit(X_train, log_ytrain) # Train (Grid Search)

print('Best Parameter:', gridsearch_RM.best_params_)

# Step 3 : Predict
preds = gridsearch_RM.best_estimator_.predict(X_test)

# Step 4 : Evaluate
print('Ridge Regression RMSLE:', rmsle(log_ytest, preds, True))

Best Parameter: {'alpha': 30, 'max_iter': 3000}
Ridge Regression RMSLE: 2.6462931428006615

In [144]:
def compute_error(y_true, y_pred, nvariables = 2):
    #corr = np.corrcoef(y_pred[:,0], y_true[:,0])[0,1]
    #rho2 = pearsonr(y_pred[:,0], y_true[:,0])[0]
    mae = np.mean(np.abs(y_pred - y_true))
    mape = np.mean(np.abs((y_true - y_pred) / y_true)) * 100
    rmse = np.sqrt(np.mean((y_pred - y_true)**2))
    r_squared = max(0, 1 - np.sum((y_true-y_pred)**2) / np.sum((y_true - np.mean(y_true))**2))
    adjustedr2 = 1 - (1-r_squared)*(len(y_true)-1)/(len(y_true)-nvariables-1)
    return  mae, mape, rmse, r_squared, adjustedr2

In [145]:
mae, mape, rmse, r_squared, adjustedr2 = compute_error(log_ytest, LRM.predict(X_test))

#print("Pearson’s correlation coefficient = ", rho2)
print("Mean Absolute Error = ", mae)
print("Mean Absolute Percentage Error = ", mape)
print("R-squared = ", r_squared)
print("Adjusted R-squared = ", adjustedr2)
print("Root Mean Squared Error = ", rmse)

Mean Absolute Error =  2.620510756244481
Mean Absolute Percentage Error =  47.338448610833375
R-squared =  0
Adjusted R-squared =  -0.0714285714285714
Root Mean Squared Error =  2.771129172249078

In [146]:
X_train

,temp,feelslike,humidity,precip,snow,snowdepth,windspeed,visibility,uvindex,severerisk,enc_preciptype,enc_conditions,workingday,holiday,season_Spring,season_Summer,season_Winter
0,7.8,7.8,92.50,0.0,0.0,0.0,0.1,8.0,0.0,10.0,0,1,0,1,0,0,1
1,7.2,6.5,96.49,0.0,0.0,0.0,5.3,5.1,0.0,10.0,0,1,0,1,0,0,1
2,7.2,6.0,96.49,0.0,0.0,0.0,7.3,4.0,0.0,10.0,0,1,0,1,0,0,1
3,7.2,7.2,96.60,0.0,0.0,0.0,0.1,1.0,0.0,10.0,0,1,0,1,0,0,1
4,6.8,5.4,99.79,0.0,0.0,0.0,7.4,0.0,0.0,10.0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5068,20.9,20.9,61.87,0.0,0.0,0.0,9.0,16.0,0.0,10.0,0,1,0,0,0,1,0
5069,20.9,20.9,61.87,0.0,0.0,0.0,12.5,15.7,0.0,10.0,0,1,0,0,0,1,0
5070,21.6,21.6,61.62,0.0,0.0,0.0,12.5,16.0,1.0,10.0,0,1,0,0,0,1,0
5071,23.8,23.8,53.93,0.0,0.0,0.0,14.2,16.0,2.0,10.0,0,1,0,0,0,1,0
5072,25.6,25.6,49.83,0.0,0.0,0.0,7.7,16.0,2.0,10.0,0,1,0,0,0,1,0

In [147]:
X_test

,temp,feelslike,humidity,precip,snow,snowdepth,windspeed,visibility,uvindex,severerisk,enc_preciptype,enc_conditions,workingday,holiday,season_Spring,season_Summer,season_Winter
5097,24.4,24.4,64.60,0.0,0.0,0.0,12.9,16.0,4.0,10.0,0,1,1,0,0,1,0
5121,26.2,26.2,64.22,0.0,0.0,0.0,14.8,16.0,5.0,10.0,0,1,1,0,0,1,0
5145,25.7,25.7,55.58,0.0,0.0,0.0,16.2,16.0,5.0,10.0,0,1,1,0,0,1,0
5169,31.1,32.2,46.63,0.0,0.0,0.0,16.6,16.0,5.0,3.0,0,1,1,0,0,1,0
5193,31.1,33.6,53.80,0.0,0.0,0.0,7.6,16.0,4.0,30.0,0,1,1,0,0,1,0
5217,28.9,32.1,67.37,0.0,0.0,0.0,12.7,16.0,4.0,60.0,0,1,0,0,0,1,0
5241,31.2,35.0,59.17,0.0,0.0,0.0,18.3,16.0,4.0,60.0,0,1,0,0,0,1,0
5265,31.1,34.9,59.29,0.0,0.0,0.0,13.1,16.0,4.0,30.0,0,1,1,0,0,1,0
5289,30.7,34.4,60.79,0.0,0.0,0.0,24.0,16.0,3.0,30.0,0,1,1,0,0,1,0
5313,20.7,20.7,80.54,0.0,0.0,0.0,11.0,16.0,3.0,10.0,0,1,1,0,0,1,0
5337,23.9,23.9,73.53,0.0,0.0,0.0,12.7,16.0,2.0,10.0,0,1,1,0,0,1,0
5361,23.9,23.9,50.02,0.0,0.0,0.0,16.6,16.0,5.0,10.0,0,1,1,0,0,1,0
5385,20.7,20.7,54.44,0.0,0.0,0.0,14.8,16.0,5.0,10.0,0,1,0,0,0,1,0
5409,23.8,23.8,46.74,0.0,0.0,0.0,11.0,16.0,5.0,10.0,0,1,0,0,0,1,0
5433,22.3,22.3,56.88,0.0,0.0,0.0,10.9,16.0,4.0,3.0,0,1,1,0,0,1,0
5457,23.4,23.4,65.72,0.0,0.0,0.0,22.3,16.0,4.0,10.0,0,1,1,0,0,1,0
5481,24.3,24.3,52.10,0.0,0.0,0.0,22.2,16.0,4.0,10.0,0,1,1,0,0,1,0
5505,22.3,22.3,53.05,0.0,0.0,0.0,27.6,16.0,2.0,10.0,0,1,1,0,0,1,0
5529,27.9,27.7,42.29,0.0,0.0,0.0,14.7,16.0,5.0,10.0,0,1,1,0,0,1,0
5553,27.2,27.4,47.54,0.0,0.0,0.0,0.1,16.0,3.0,3.0,0,1,0,0,0,1,0
5577,25.7,25.7,65.89,0.0,0.0,0.0,14.5,16.0,4.0,10.0,0,1,0,0,0,1,0
5601,22.3,22.3,83.57,0.0,0.0,0.0,14.5,16.0,2.0,10.0,0,1,1,0,0,1,0
5625,21.2,21.2,89.22,0.0,0.0,0.0,11.0,16.0,3.0,10.0,0,1,1,0,0,1,0
5649,22.9,22.9,80.40,0.0,0.0,0.0,7.6,16.0,2.0,10.0,0,1,1,0,0,1,0
5673,27.3,27.8,52.73,0.0,0.0,0.0,5.5,16.0,4.0,10.0,0,1,1,0,0,1,0
5697,27.2,28.2,58.36,0.0,0.0,0.0,14.5,16.0,4.0,10.0,0,1,1,0,0,1,0
5721,24.4,24.4,69.19,0.0,0.0,0.0,13.0,16.0,5.0,10.0,0,1,0,0,0,1,0
5745,22.9,22.9,70.46,0.0,0.0,0.0,10.8,16.0,4.0,10.0,0,1,0,0,0,1,0
5769,25.6,25.6,66.24,0.0,0.0,0.0,16.5,16.0,4.0,10.0,0,1,1,0,0,1,0
5793,28.4,30.4,63.13,0.0,0.0,0.0,16.5,16.0,4.0,10.0,0,1,1,0,0,1,0
5817,24.4,24.4,69.25,0.0,0.0,0.0,13.0,16.0,4.0,10.0,0,1,1,0,0,1,0

In [148]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 5097 to 5817
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   temp            31 non-null     float64
 1   feelslike       31 non-null     float64
 2   humidity        31 non-null     float64
 3   precip          31 non-null     float64
 4   snow            31 non-null     float64
 5   snowdepth       31 non-null     float64
 6   windspeed       31 non-null     float64
 7   visibility      31 non-null     float64
 8   uvindex         31 non-null     float64
 9   severerisk      31 non-null     float64
 10  enc_preciptype  31 non-null     int64
 11  enc_conditions  31 non-null     int64
 12  workingday      31 non-null     int64
 13  holiday         31 non-null     int64
 14  season_Spring   31 non-null     uint8
 15  season_Summer   31 non-null     uint8
 16  season_Winter   31 non-null     uint8
dtypes: float64(10), int64(4), uint8(3)
memory usage: 3.7 KB