In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
data = pd.read_csv('BikeSharing_Bluebikes2022.csv.crdownload', index_col=0)

/home/georgep/anaconda3/envs/MachineLearning/lib/python3.8/site-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,postal code
0,597,2022-01-01 00:00:25.1660,2022-01-01 00:10:22.1920,178,MIT Pacific St at Purrington St,42.359573,-71.101295,74,Harvard Square at Mass Ave/ Dunster,42.373268,-71.118579,4923,Subscriber,02139
1,411,2022-01-01 00:00:40.4300,2022-01-01 00:07:32.1980,189,Kendall T,42.362428,-71.084955,178,MIT Pacific St at Purrington St,42.359573,-71.101295,3112,Subscriber,02139
2,476,2022-01-01 00:00:54.8180,2022-01-01 00:08:51.6680,94,Main St at Austin St,42.375603,-71.064608,356,Charlestown Navy Yard,42.374125,-71.054812,6901,Customer,02124
3,466,2022-01-01 00:01:01.6080,2022-01-01 00:08:48.2350,94,Main St at Austin St,42.375603,-71.064608,356,Charlestown Navy Yard,42.374125,-71.054812,5214,Customer,02124
4,752,2022-01-01 00:01:06.0520,2022-01-01 00:13:38.2300,19,Park Dr at Buswell St,42.347241,-71.105301,41,Packard's Corner - Commonwealth Ave at Brighto...,42.352261,-71.123831,2214,Subscriber,02215

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2305735 entries, 0 to 487200
Data columns (total 14 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start station id         int64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           int64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  postal code              object
dtypes: float64(4), int64(4), object(6)
memory usage: 263.9+ MB

In [5]:
#transforming the dates from object to datetime
for date_column in ['starttime','stoptime']:
    data[date_column] = pd.to_datetime(data[date_column], format='%Y-%m-%d %H:%M:%S')

In [6]:
data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,postal code
0,597,2022-01-01 00:00:25.166,2022-01-01 00:10:22.192,178,MIT Pacific St at Purrington St,42.359573,-71.101295,74,Harvard Square at Mass Ave/ Dunster,42.373268,-71.118579,4923,Subscriber,02139
1,411,2022-01-01 00:00:40.430,2022-01-01 00:07:32.198,189,Kendall T,42.362428,-71.084955,178,MIT Pacific St at Purrington St,42.359573,-71.101295,3112,Subscriber,02139
2,476,2022-01-01 00:00:54.818,2022-01-01 00:08:51.668,94,Main St at Austin St,42.375603,-71.064608,356,Charlestown Navy Yard,42.374125,-71.054812,6901,Customer,02124
3,466,2022-01-01 00:01:01.608,2022-01-01 00:08:48.235,94,Main St at Austin St,42.375603,-71.064608,356,Charlestown Navy Yard,42.374125,-71.054812,5214,Customer,02124
4,752,2022-01-01 00:01:06.052,2022-01-01 00:13:38.230,19,Park Dr at Buswell St,42.347241,-71.105301,41,Packard's Corner - Commonwealth Ave at Brighto...,42.352261,-71.123831,2214,Subscriber,02215

Simple City Prediction

In [7]:
df_simple = data.set_index('starttime')

In [70]:
df_simple.head()

,tripduration,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,postal code
starttime,,,,,,,,,,,,,
2022-01-01 00:00:25.166,597,2022-01-01 00:10:22.192,178,MIT Pacific St at Purrington St,42.359573,-71.101295,74,Harvard Square at Mass Ave/ Dunster,42.373268,-71.118579,4923,Subscriber,02139
2022-01-01 00:00:40.430,411,2022-01-01 00:07:32.198,189,Kendall T,42.362428,-71.084955,178,MIT Pacific St at Purrington St,42.359573,-71.101295,3112,Subscriber,02139
2022-01-01 00:00:54.818,476,2022-01-01 00:08:51.668,94,Main St at Austin St,42.375603,-71.064608,356,Charlestown Navy Yard,42.374125,-71.054812,6901,Customer,02124
2022-01-01 00:01:01.608,466,2022-01-01 00:08:48.235,94,Main St at Austin St,42.375603,-71.064608,356,Charlestown Navy Yard,42.374125,-71.054812,5214,Customer,02124
2022-01-01 00:01:06.052,752,2022-01-01 00:13:38.230,19,Park Dr at Buswell St,42.347241,-71.105301,41,Packard's Corner - Commonwealth Ave at Brighto...,42.352261,-71.123831,2214,Subscriber,02215

In [85]:
def DatetimeInterval(df,freq):
    
    pickups = df['tripduration'].groupby(pd.Grouper(freq=freq, base=30, label='left')).count()    
    pickups = pd.DataFrame(pickups)
    pickups.rename(columns={'tripduration':'pickups'}, inplace=True)
    
    return pickups

In [94]:
df15 = DatetimeInterval(df_simple,freq='2H')

<ipython-input-85-deacd836f75e>:3: FutureWarning: 'base' in .resample() and in Grouper() is deprecated.
The new arguments that you should use are 'offset' or 'origin'.

>>> df.resample(freq="3s", base=2)

becomes:

>>> df.resample(freq="3s", offset="2s")

  counts = df['tripduration'].groupby(pd.Grouper(freq=freq, base=30, label='left')).count()

In [95]:
df15.head()

                     pickups
starttime
2022-01-01 00:00:00      217
2022-01-01 02:00:00      168
2022-01-01 04:00:00      215
2022-01-01 06:00:00      283
2022-01-01 08:00:00       56

# # Weather Data

In [44]:
weather_data = pd.read_csv('https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/retrievebulkdataset?&key=FUARKU3MXT9AJ9X3BAU6E5QSX&taskId=e81a579348221d89e1ef587736532dc5&zip=false')

In [45]:
weather_data.head()

,name,datetime,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,...,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon,stations
0,Boston,2022-01-01T00:00:00,7.8,7.8,6.7,92.50,0.0,0,NaN,0.0,...,1014.5,100.0,8.0,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591..."
1,Boston,2022-01-01T01:00:00,7.2,6.5,6.7,96.49,0.0,0,NaN,0.0,...,1014.1,100.0,5.1,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591..."
2,Boston,2022-01-01T02:00:00,7.2,6.0,6.7,96.49,0.0,0,NaN,0.0,...,1014.2,100.0,4.0,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591..."
3,Boston,2022-01-01T03:00:00,7.2,7.2,6.7,96.60,0.0,0,NaN,0.0,...,1014.1,100.0,1.0,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591..."
4,Boston,2022-01-01T04:00:00,6.8,5.4,6.7,99.79,0.0,0,NaN,0.0,...,1013.6,100.0,0.0,NaN,NaN,NaN,NaN,Overcast,cloudy,"KOWD,72509854704,KBED,KBOS,72509014739,7250591..."

In [47]:
weather_data.to_csv('/home/georgep/Desktop/Boston BikeSharing/WeatherData')

# # Station Data

In [41]:
stations_data = pd.read_csv('/home/georgep/Desktop/Boston BikeSharing/current_bluebikes_stations.csv', header=1)

In [42]:
stations_data.head()

,Number,Name,Latitude,Longitude,District,Public,Total docks,Deployment Year
0,K32015,1200 Beacon St,42.344149,-71.114674,Brookline,Yes,15,2021
1,W32006,160 Arsenal,42.364664,-71.175694,Watertown,Yes,11,2021
2,A32019,175 N Harvard St,42.363796,-71.129164,Boston,Yes,17,2014
3,S32035,191 Beacon St,42.380323,-71.108786,Somerville,Yes,19,2018
4,C32094,2 Hummingbird Lane at Olmsted Green,42.288870,-71.095003,Boston,Yes,17,2020

In [43]:
stations_data[stations_data['Deployment Year'] == 2022]

,Number,Name,Latitude,Longitude,District,Public,Total docks,Deployment Year
20,A32054,Addison St at Saratoga St,42.385181,-71.015137,Boston,Yes,19,2022
73,D32058,Brighton Ave at Linden St,42.352838,-71.129675,Boston,Yes,19,2022
76,M32082,Broad Canal Way at Third Street,42.363045,-71.082871,Cambridge,Yes,19,2022
131,T32013,Community Life Center,42.520136,-70.906271,Salem,Yes,9,2022
166,T32011,Essex St at Dalton Parkway,42.516223,-70.905535,Salem,Yes,11,2022
172,B32064,Flat 9 at Whittier,42.334204,-71.087676,Boston,Yes,15,2022
175,T32010,Forest River Park,42.506395,-70.886930,Salem,Yes,11,2022
182,M32078,Galileo Galilei Way at Fulkerson St/Binney St,42.366420,-71.088542,Cambridge,Yes,19,2022
189,T32014,Goodhue St at Grove St,42.520897,-70.910528,Salem,Yes,11,2022
190,M32081,Gore Street at Lambert Street,42.373080,-71.086342,Cambridge,Yes,19,2022
194,V32015,Gramsdorf Playground,42.408156,-71.042900,Everett,Yes,14,2022
215,T32008,Hawthorne Boulevard,42.522371,-70.890333,Salem,Yes,9,2022
220,D32060,Hood Park,42.380045,-71.073046,Boston,Yes,23,2022
257,F32001,Main St at Brooks Park,42.411709,-71.110444,Medford,Yes,11,2022
259,M32080,Main Street/Albany Street/Technology Square,42.362902,-71.091567,Cambridge,Yes,23,2022
260,G32001,Malden Center T Station,42.426541,-71.073179,Malden,Yes,11,2022
261,G32003,Malden High School,42.426538,-71.063937,NaN,Yes,11,2022
276,F32002,Medford Sq - Riverside Ave at River St,42.417724,-71.108102,Medford,Yes,11,2022
301,T32015,North St at Liberty Hill Ave,42.529900,-70.906143,NaN,Yes,11,2022
304,G32002,Northern Strand at Main St,42.423860,-71.067793,Malden,Yes,11,2022
320,C32107,Pier 4 Blvd at Autumn Ln,42.350210,-71.044670,Boston,Yes,19,2022
329,M32079,Raymond Park at Walden St,42.387370,-71.127610,Cambridge,Yes,19,2022
338,E32014,Ross Playground,42.264567,-71.114552,Boston,Yes,19,2022
346,T32012,Salem MBTA - Lower Level,42.523994,-70.896840,Salem,Yes,11,2022
349,T32009,Salem State University - North Campus,42.503332,-70.891444,Salem,Yes,11,2022
356,D32059,Shawmut Ave at Lenox St,42.335846,-71.080382,Boston,Yes,19,2022
374,B32063,St. Alphonsus St at Tremont St,42.333293,-71.101246,Boston,Yes,18,2022
401,F32003,Tufts Sq - Main St at Medford St,42.401697,-71.106128,Medford,Yes,11,2022
422,N32001,Washington St at Crafts St,42.353890,-71.199437,Newton,Yes,11,2022
439,V32014,Wellington MBTA,42.402368,-71.075732,Everett,Yes,19,2022